<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <section class="container-fluid">
        <a class="navbar-brand fw-bold" routerLink="home">NAVBAR</a>
        <button class="navbar-toggler" type="button"  data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

        </button>
        <section class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="home">HOME GET</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="register">REGISTER POST</a>
                </li>
            </ul>
        </section>
    </section>
</nav>

<router-outlet></router-outlet>